# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List of popular languages for Data Science
- List of commonly-used libraries for Data Science
- Examples of Data Science Tools

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. Scala
6. Julia

Some of the commonly used libraries used by Data Scientists include:

1. pandas
2. numpy
3. sckit-learn
4. tensorflow
5. matplotlib

| Examples of Data Science Tools |
| ------------------ |
| Hadoop |
| Hive |
| Spark |
| MySQL |
| Airflow |
| Kafka |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60
(200 / 60)

3.3333333333333335

## Author
Paul Tongyoo